h1 Add New Custom Object Record

form(action="/update-cobj" method="POST")
  label Name:
  input(type="text" name="name")
  br

  label Age:
  input(type="number" name="age")
  br

  label Type:
  input(type="text" name="type")
  br

  button(type="submit") Add Record

a(href="/") Return to the homepage
